body {
    background: #dde0df ;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}

.main-table{
    border: 1px solid black;
}

tr, td {
    border: 1px solid black;
}

.cursor-pointer{
    cursor:pointer;
}

.container{
    width: 800px;
    height: 600px;
}


